<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="testCategory">
            <h2><span jhiTranslate="jtTestingApp.testCategory.detail.title">Test Category</span> {{testCategory.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jtTestingApp.testCategory.name">Name</span></dt>
                <dd>
                    <span>{{testCategory.name}}</span>
                </dd>
                <dt><span jhiTranslate="jtTestingApp.testCategory.key">Key</span></dt>
                <dd>
                    <span>{{testCategory.key}}</span>
                </dd>
                <dt><span jhiTranslate="jtTestingApp.testCategory.description">Description</span></dt>
                <dd>
                    <span>{{testCategory.description}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/test-category', testCategory.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
