$app-gray-color: rgba(91,91,91,1) !default;

$app-danger-color: rgba(217,83,79,1) !default;
$app-danger-color-2: rgba(201,48,44,1) !default;

$primary-color-0: rgba(101,  3,136,1)	!default;// Main Primary color */
$primary-color-1: rgba(145, 31,185,1) !default;
$primary-color-2: rgba(125,  5,168,1) !default;
$primary-color-3: rgba( 82,  2,110,1) !default;
$primary-color-4: rgba( 60,  1, 80,1) !default;

$accent-color-0: rgba(  5,174,174,1) !default;	// Main Primary color */
$accent-color-1: rgba( 78,197,197,1) !default;
$accent-color-2: rgba( 41,182,182,1) !default;
$accent-color-3: rgba(  0,135,135,1) !default;
$accent-color-4: rgba(  0,106,106,1) !default;

$primary-color: $primary-color-0 !default;
$accent-color: $accent-color-0 !default;

$text-body-color: rgba( 0,  0,  0,1) !default;
$text-body-invert-color: rgba(255,255,255,1) !default;
$text-primary-color: rgba(255,255,255,1) !default;
$text-accent-color: rgba(255,255,255,1) !default;

$light-color: rgba(255,255,255,1) !default;
$light-color-fill-50: rgba(255, 255, 255, 0.5) !default;
$light-color-fill-10: rgba(255, 255, 255, 0.1) !default;

$button-disabled: #a7a7a7;
$input-border-color: rgba(210,210,210,1);

$background-color-1: rgb(243, 248, 254);

$froala-toolbar-background: #eaeaea !default;
$froala-toolbar-color: black !default;
$froala-toolbar-btn-hover: lightgray !default;

$change-remove: rgb(255, 126, 126); //rgba(255, 0, 0, 0.4);
$change-add: rgb(177, 216, 177); //rgba(0, 128, 0, 0.4);

$chart-color: rgb(35, 40, 55);

.accent {
  color: $accent-color;
}
