@import "app-colors";
@import "~@angular/material/theming";

@include mat-core();

/**
 * Creates theme configuration for the below call.
 */
@function custom_theme_settings($palette_color_primary, $hue_value_primary_color, $palette_color_accent, $hue_value_accent_color) {
  $primary-palette: mat-palette($palette_color_primary, $hue_value_primary_color);
  $accent-palette: mat-palette($palette_color_accent, $hue_value_accent_color);

  $app-theme: mat-light-theme($primary-palette, $accent-palette);

  @return $app-theme;
}

/* For use in src/lib/core/theming/_palette.scss */
$mat-jt-primary: (
  50 : $primary-color-1,
  100 : $primary-color-1,
  200 : $primary-color-1,
  300 : $primary-color-1,
  400 : $primary-color-1,
  500 : $primary-color-1,
  600 : $primary-color-1,
  700 : $primary-color-1,
  800 : $primary-color-1,
  900 : $primary-color-1,
  A100 : $primary-color-1,
  A200 : $primary-color-1,
  A400 : $primary-color-1,
  A700 : $primary-color-1,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);



/* For use in src/lib/core/theming/_palette.scss */
$mat-jt-secondary: (
  50 : white,
  100 : white,
  200 : white,
  300 : white,
  400 : white,
  500 : white,
  600 : white,
  700 : white,
  800 : white,
  900 : white,
  A100 : white,
  A200 : white,
  A400 : white,
  A700 : white,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);



$custom-typography: mat-typography-config(
  $font-family: 'Open Sans, sans-serif',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500)
);

@include angular-material-theme(custom_theme_settings($mat-jt-primary, 500, $mat-jt-secondary, 900));
@include angular-material-typography($custom-typography);



