@media print {

  .banner {
    display: none;
  }

  #menuHorizontal {
    display: none;
  }

  body {
    overflow: visible !important;
    display: block !important;
  }

  body * {
    visibility: hidden;
    overflow: visible !important;
    position: relative;
  }

  .row {
    display: block !important;
  }

  #handbook-version-printable-area,  #handbook-version-printable-area * {
    width: auto;
    height: auto;
    visibility: visible !important;
    overflow: visible !important;
    position: relative;
  }

  .handbook-name-print {
    background-color: white !important;
  }

  .handbook-version-container {
    display: block !important;
    height: auto !important;
    max-height: none !important;
  }

}
