//@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Exo&subset=latin,latin-ext');

@import "app-colors";
@import "app-sizes";
@import "app-animations";

@import "overrides/primeng-override";
@import "overrides/material-override";
@import "overrides/bootstrap-override";
@import "overrides/froala-override";

//@import "fontface-exo";

@mixin theme-color-grabber($theme) {
  // Parse the theme and create variables for each color in the pallete
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  // Create theme specfic styles
  .primary-bg {
    background-color: mat-color($primary);
  }
  .accent-bg {
    background-color: mat-color($accent);
  }
  .warn-bg {
    background-color: mat-color($warn);
  }

  .primary-color {
    color: mat-color($primary);
  }

  .accent-color {
    color: mat-color($accent);
  }

  .warn-color {
    color: mat-color($warn);
  }
}

html {

}

html, body {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: stretch;
}


body {
  font-family: 'Exo' !important;
  color: white;
  background-color: $chart-color;;
}

app-root {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow: hidden;
}

.pointer {
  cursor: pointer;
}

.outlet-container {
  flex: 1;
  display: flex;
  align-items: stretch;
  overflow-y: auto;

  & > *:not(router-outlet) {
    flex: 1;
    flex-grow: 1;
    display: flex;
    align-items: stretch;
    justify-content: stretch;
  }
}

.heading {
  @extend .accent-bg;

  padding: 5px;
}

.container {
  padding: 20px;
}

.content {
  padding: 20px;
}

.elevation-z6 {
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}

/*table*/
.table-top-margin {
  .ui-widget {
    //margin-top: 20px;
  }
}

/*textarea*/
.textarea-min-height {
  //min-height: 50px;
}

/*sidebar*/
.sidenav-container {
  display: flex;
  flex: 1;
}

.mat-sidenav-content {

  & > router-outlet {
    flex: 0;
  }

  & > *:not(router-outlet) {
    flex: 1;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    overflow-y: auto;
  }

  flex: 1;
  display: flex !important;
}

.mat-drawer-content {
  overflow-y: visible !important;
}

.sidenav-menu {
  display: flex;
  flex-direction: column;
  padding: 20px;
  & > a {
    text-decoration: none;
    color: lightgray;
    font-size: 15px;
    margin: 10px;

    &.sidenav-link-active {
      color: white;
    }
  }
}

.component-container-center {
  flex: 1;
  flex-direction: column;
  display: flex;
  justify-content: stretch;
  padding: 20px;
}

.component-container-left {
  @extend .component-container-center;
  justify-content: flex-start;
}

.form-container {
  padding: 20px;
}

.form {
  flex: 1;
  padding: 20px;
  min-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .form-button-container {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

.multiselect-dropdown {
  padding-right: 25px;
  width: auto !important;
  margin-bottom: 25px;
}

.timepicker {

  .timepicker__header {
    background-color: $primary-color !important;
  }

  .clock-face__clock-hand {
    background-color: $primary-color !important;

    &::after {
      background-color: $primary-color !important;
    }

    &::before {
      border-color: $primary-color !important;
    }
  }

  .clock-face__number {
    > span.active {
      background-color: $primary-color !important;
    }
  }

  button:not(.timepicker-dial__item) {
    color: $primary-color !important;
  }
}

.ngx-charts-outer {
  background-color: $chart-color;
  border-radius: 4px;
}

.dark {
  /**
   * Backgrounds
   */
  $color-bg-darkest: #13141b;
  $color-bg-darker: #1b1e27;
  $color-bg-dark: #232837;
  $color-bg-med: #2f3646;
  $color-bg-light: #455066;
  $color-bg-lighter: #5b6882;

  /**
   * Text
   */
  $color-text-dark: #72809b;
  $color-text-med-dark: #919db5;
  $color-text-med: #A0AABE;
  $color-text-med-light: #d9dce1;
  $color-text-light: #f0f1f6;
  $color-text-lighter: #fff;

  //background: $color-bg-darker;

  .ngx-charts {

    text {
      fill: $color-text-med;
    }

    .tooltip-anchor {
      fill: rgb(255,255,255);
    }

    .gridline-path {
      stroke: $color-bg-med;
    }

    .refline-path {
      stroke: $color-bg-light;
    }

    .reference-area {
      fill: #fff;
    }

    .grid-panel {
      &.odd {
        rect {
          fill: rgba(255,255,255,0.05);
        }
      }
    }

    .force-directed-graph {
      .edge {
        stroke: $color-bg-light;
      }
    }

    .number-card {
      p {
        color: $color-text-light;
      }
    }

    .gauge {
      .background-arc{
        path {
          fill: $color-bg-med;
        }
      }

      .gauge-tick {
        path {
          stroke: $color-text-med;
        }
        text {
          fill: $color-text-med;
        }
      }
    }

    .linear-gauge {
      .background-bar {
        path {
          fill: $color-bg-med;
        }
      }

      .units {
        fill: $color-text-dark;
      }
    }

    .timeline {
      .brush-background {
        fill: rgba(255,255,255,0.05);
      }

      .brush {
        .selection {
          fill: rgba(255, 255, 255, 0.1);
          stroke: #aaa;
        }
      }
    }

    .polar-chart .polar-chart-background {
      fill: rgb(30, 34, 46);
    }

  }

  .chart-legend {
    .legend-labels {
      background: rgba(255,255,255,0.05) !important;
    }

    .legend-item {
      &:hover {
        color: #fff;
      }
    }

    .legend-label {
      &:hover {
        color: #fff !important;
      }

      .active {
        .legend-label-text {
          color: #fff !important;
        }
      }
    }

    .scale-legend-label {
      color: $color-text-med;
    }
  }

  .advanced-pie-legend {
    color: $color-text-med;

    .legend-item {
      &:hover {
        color: #fff !important;
      }
    }
  }

  .number-card .number-card-label {
    font-size: 0.8em;
    color: $color-text-med;
  }

}




