<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="activity">
            <h2><span jhiTranslate="jtTestingApp.activity.detail.title">Activity</span> {{activity.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jtTestingApp.activity.name">Name</span></dt>
                <dd>
                    <span>{{activity.name}}</span>
                </dd>
                <dt><span jhiTranslate="jtTestingApp.activity.description">Description</span></dt>
                <dd>
                    <span>{{activity.description}}</span>
                </dd>
                <dt><span jhiTranslate="jtTestingApp.activity.help">Help</span></dt>
                <dd>
                    <span>{{activity.help}}</span>
                </dd>
                <dt><span jhiTranslate="jtTestingApp.activity.key">Key</span></dt>
                <dd>
                    <span>{{activity.key}}</span>
                </dd>
                <dt><span jhiTranslate="jtTestingApp.activity.primaryResultValueUnit">Primary Result Value Unit</span></dt>
                <dd>
                    <span jhiTranslate="{{'jtTestingApp.ActivityResultUnits.' + activity.primaryResultValueUnit}}">{{activity.primaryResultValueUnit}}</span>
                </dd>
                <dt><span jhiTranslate="jtTestingApp.activity.secondaryResultValueUnit">Secondary Result Value Unit</span></dt>
                <dd>
                    <span jhiTranslate="{{'jtTestingApp.ActivityResultUnits.' + activity.secondaryResultValueUnit}}">{{activity.secondaryResultValueUnit}}</span>
                </dd>
                <dt><span jhiTranslate="jtTestingApp.activity.minAge">Min Age</span></dt>
                <dd>
                    <span>{{activity.minAge}}</span>
                </dd>
                <dt><span jhiTranslate="jtTestingApp.activity.maxAge">Max Age</span></dt>
                <dd>
                    <span>{{activity.maxAge}}</span>
                </dd>
                <dt><span jhiTranslate="jtTestingApp.activity.primaryResultType">Primary Result Type</span></dt>
                <dd>
                    <span jhiTranslate="{{'jtTestingApp.ResultType.' + activity.primaryResultType}}">{{activity.primaryResultType}}</span>
                </dd>
                <dt><span jhiTranslate="jtTestingApp.activity.secondaryResultType">Secondary Result Type</span></dt>
                <dd>
                    <span jhiTranslate="{{'jtTestingApp.ResultType.' + activity.secondaryResultType}}">{{activity.secondaryResultType}}</span>
                </dd>
                <dt><span jhiTranslate="jtTestingApp.activity.creationTime">Creation Time</span></dt>
                <dd>
                    <span>{{activity.creationTime}}</span>
                </dd>
                <dt><span jhiTranslate="jtTestingApp.activity.categories">Categories</span></dt>
                <dd>
                    <span *ngFor="let categories of activity.categories; let last = last">
                        <a [routerLink]="['/activity-category', categories?.id, 'view' ]">{{categories.name}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span jhiTranslate="jtTestingApp.activity.author">Author</span></dt>
                <dd>
                    <div *ngIf="activity.authorId">
                        <a [routerLink]="['/person', activity.authorId, 'view']">{{activity.authorEmail}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="jtTestingApp.activity.group">Group</span></dt>
                <dd>
                    <div *ngIf="activity.groupId">
                        <a [routerLink]="['/group', activity.groupId, 'view']">{{activity.groupName}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/activity', activity.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
