<div>
    <h2 id="page-heading">
        <span jhiTranslate="jtTestingApp.activity.home.title">Activities</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-activity" [routerLink]="['/activity/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="jtTestingApp.activity.home.createLabel">
            Create new Activity
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'jtTestingApp.activity.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="activities">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="name"><span jhiTranslate="jtTestingApp.activity.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="description"><span jhiTranslate="jtTestingApp.activity.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="help"><span jhiTranslate="jtTestingApp.activity.help">Help</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="key"><span jhiTranslate="jtTestingApp.activity.key">Key</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="primaryResultValueUnit"><span jhiTranslate="jtTestingApp.activity.primaryResultValueUnit">Primary Result Value Unit</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="secondaryResultValueUnit"><span jhiTranslate="jtTestingApp.activity.secondaryResultValueUnit">Secondary Result Value Unit</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="minAge"><span jhiTranslate="jtTestingApp.activity.minAge">Min Age</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="maxAge"><span jhiTranslate="jtTestingApp.activity.maxAge">Max Age</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="primaryResultType"><span jhiTranslate="jtTestingApp.activity.primaryResultType">Primary Result Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="secondaryResultType"><span jhiTranslate="jtTestingApp.activity.secondaryResultType">Secondary Result Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="creationTime"><span jhiTranslate="jtTestingApp.activity.creationTime">Creation Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="authorEmail"><span jhiTranslate="jtTestingApp.activity.author">Author</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="groupName"><span jhiTranslate="jtTestingApp.activity.group">Group</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let activity of activities ;trackBy: trackId">
                <td><a [routerLink]="['/activity', activity.id, 'view' ]">{{activity.id}}</a></td>
                <td>{{activity.name}}</td>
                <td>{{activity.description}}</td>
                <td>{{activity.help}}</td>
                <td>{{activity.key}}</td>
                <td jhiTranslate="{{'jtTestingApp.ActivityResultUnits.' + activity.primaryResultValueUnit}}">{{activity.primaryResultValueUnit}}</td>
                <td jhiTranslate="{{'jtTestingApp.ActivityResultUnits.' + activity.secondaryResultValueUnit}}">{{activity.secondaryResultValueUnit}}</td>
                <td>{{activity.minAge}}</td>
                <td>{{activity.maxAge}}</td>
                <td jhiTranslate="{{'jtTestingApp.ResultType.' + activity.primaryResultType}}">{{activity.primaryResultType}}</td>
                <td jhiTranslate="{{'jtTestingApp.ResultType.' + activity.secondaryResultType}}">{{activity.secondaryResultType}}</td>
                <td>{{activity.creationTime | date:'medium'}}</td>
                <td>
                    <div *ngIf="activity.authorId">
                        <a [routerLink]="['../person', activity.authorId , 'view' ]" >{{activity.authorEmail}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="activity.groupId">
                        <a [routerLink]="['../group', activity.groupId , 'view' ]" >{{activity.groupName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/activity', activity.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/activity', activity.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'activity/'+ activity.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="activities && activities.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
