<div class="component-container-center">
  <div class="form-container">
    <div class="form" *ngIf="user">
      <mat-form-field>
        <input matInput [placeholder]="'Křestní jméno' | translate" name="firstName" [ngModel]="user.firstName" disabled/>
      </mat-form-field>
      <mat-form-field>
        <input matInput [placeholder]="'Příjmení' | translate" name="lastName" [ngModel]="user.lastName" disabled/>
      </mat-form-field>
      <mat-form-field>
        <input matInput [placeholder]="'login' | translate" name="login" [ngModel]="user.login" disabled/>
      </mat-form-field>
      <mat-form-field>
        <input matInput [placeholder]="'email' | translate" name="email" [ngModel]="user.email" disabled/>
      </mat-form-field>
    </div>

    <form class="form" (submit)="saveUser()">
      <div *ngIf="addressForm" [formGroup]="addressForm">
        <mat-form-field>
          <input matInput [placeholder]="'Země' | translate" name="country" formControlName="country"/>
        </mat-form-field>
        <mat-form-field>
          <input matInput [placeholder]="'Město' | translate" name="city" formControlName="city"/>
        </mat-form-field>
        <mat-form-field>
          <input matInput [placeholder]="'Ulice' | translate" name="street" formControlName="street"/>
        </mat-form-field>
        <mat-form-field>
          <input matInput [placeholder]="'PSČ' | translate" name="zipCode" formControlName="country"/>
        </mat-form-field>
      </div>

      <div *ngIf="personalDataForm" [formGroup]="personalDataForm">
        <mat-form-field>
          <input matInput [placeholder]="'Křestní jméno' | translate" name="firstName" formControlName="firstName"/>
        </mat-form-field>
        <mat-form-field>
          <input matInput [placeholder]="'Příjmení' | translate" name="lastName" formControlName="lastName"/>
        </mat-form-field>
        <mat-form-field>
          <input matInput [placeholder]="'Datum narození' | translate" name="birthDate" formControlName="birthDate"/>
        </mat-form-field>
        <mat-form-field>
          <input matInput [placeholder]="'Národnost' | translate" name="nationality" formControlName="nationality"/>
        </mat-form-field>
      </div>
    </form>
  </div>
</div>
