<div class="component-container-center">
  <div class="form-container">
    <form class="form" *ngIf="eventForm" [formGroup]="eventForm" (submit)="saveTest()">
      <mat-form-field>
        <input matInput [placeholder]="'Název' | translate" name="name"
               formControlName="name"
               required/>
        <mat-error *ngIf="eventForm.controls['name'].hasError('required')">
          {{'Název musí být vyplněn' | translate }}
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput [placeholder]="'Minimální věk' | translate" name="minAge" formControlName="minAge"/>
      </mat-form-field>
      <mat-form-field>
        <input matInput [placeholder]="'Maximální věk' | translate" name="maxAge" formControlName="maxAge"/>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Testy" [(ngModel)]="selectedTests"  [ngModelOptions]="{standalone: true}" multiple>
          <mat-option *ngFor="let test of tests" [value]="test">{{test.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input matInput
               placeholder="{{'Datum konání' | translate}}"
               [matDatepicker]="dateFromDatePicker"
               [(ngModel)]="eventDate" [ngModelOptions]="{standalone: true}">
        <mat-datepicker-toggle matSuffix [for]="dateFromDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #dateFromDatePicker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input matInput
               placeholder="{{'Čas konání' | translate}}"
               [format]="24"
               [ngxTimepicker]="picker"
               [(ngModel)]="eventTime"
               [ngModelOptions]="{standalone: true}"
               readonly>
        <ngx-material-timepicker #picker></ngx-material-timepicker>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Uživatelé" [(ngModel)]="selectedPersons"  [ngModelOptions]="{standalone: true}" multiple>
          <mat-option *ngFor="let person of persons" [value]="person">{{person.personalData.firstName + ' ' + person.personalData.lastName}}</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button>{{'Uložit' | translate}}</button>
    </form>
    <button mat-raised-button [routerLink]="['results']">{{'Výsledky' | translate}}</button>
  </div>
</div>
