<div class="component-container-center">
  <form class="form" *ngIf="eventForm" [formGroup]="eventForm" (submit)="saveEvent()">
    <div class="ui-inputgroup">
      <input type="text" pInputText placeholder="Název" formControlName="name" required>
      <p-message severity="error" text="Název kategorie je povinný"
                 *ngIf="!eventForm.controls['name'].valid && eventForm.controls['name'].touched"></p-message>
    </div>
    <div class="ui-inputgroup">
      <input type="text" pInputText placeholder="Minimální věk" formControlName="minAge">
    </div>
    <div class="ui-inputgroup">
      <input type="text" pInputText placeholder="Maximální věk" formControlName="maxAge">
    </div>
    <p-calendar [(ngModel)]="eventDateClassic"
                [ngModelOptions]="{standalone: true}"
                [placeholder]="'Datum události'"
                showTime="true"
                hourFormat="24"
                dateFormat="dd.mm.yy"
    ></p-calendar>
    <div *ngIf="tests" class="ui-inputgroup">
      <p-pickList styleClass="edit-picklist"
                  [source]="suggestedTests"
                  [target]="selectedTests"
                  sourceHeader="Testy"
                  targetHeader="Vybrané testy"
                  filterBy="name"
                  dragdrop="true">
        <ng-template let-test pTemplate="item">
          <div class="ui-helper-clearfix">
            {{test.name}}
          </div>
        </ng-template>
      </p-pickList>
    </div>
    <div *ngIf="tests" class="ui-inputgroup">
      <p-pickList styleClass="edit-picklist"
                  [source]="suggestedPerson"
                  [target]="selectedPersons"
                  sourceHeader="Uživatelé"
                  targetHeader="Vybraní uživatelé"
                  filterBy="name"
                  dragdrop="true">
        <ng-template let-person pTemplate="item">
          <div class="ui-helper-clearfix">
            {{person.personalData.firstName + ' ' + person.personalData.lastName}}
          </div>
        </ng-template>
      </p-pickList>
    </div>
    <button mat-raised-button>{{'Uložit' | translate}}</button>
    <br>
    <button type="button" mat-raised-button (click)="duplicateEvent()">{{'Vytvořit kopii' | translate}}</button>
  </form>
</div>
