<div class="component-container-center">
  <div class="form-container">
    <form *ngIf="personForm" [formGroup]="personForm" class="form" (submit)="savePerson()">
      <mat-form-field>
        <input matInput [placeholder]="'email' | translate" name="email" formControlName="email" disabled/>
      </mat-form-field>

      <mat-checkbox matInput formControlName="virtual">{{'Virtuální uživatel' | translate}}</mat-checkbox>

      <div formGroupName="personalData">
        <mat-form-field>
          <input matInput [placeholder]="'Křestní jméno' | translate" name="country" formControlName="firstName"/>
        </mat-form-field>
        <mat-form-field>
          <input matInput [placeholder]="'Příjmení' | translate" name="city" formControlName="lastName"/>
        </mat-form-field>
        <mat-form-field>
          <input matInput
                 formControlName="birthDate"
                 placeholder="{{'Datum narození' | translate}}"
                 [matDatepicker]="dateFromDatePicker">
          <mat-datepicker-toggle matSuffix [for]="dateFromDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #dateFromDatePicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <input matInput [placeholder]="'Národnost' | translate" name="zipCode" formControlName="nationality"/>
        </mat-form-field>
      </div>

      <div formGroupName="address">
        <mat-form-field>
          <input matInput [placeholder]="'Země' | translate" name="country" formControlName="country"/>
        </mat-form-field>
        <mat-form-field>
          <input matInput [placeholder]="'Město' | translate" name="city" formControlName="city"/>
        </mat-form-field>
        <mat-form-field>
          <input matInput [placeholder]="'Ulice' | translate" name="street" formControlName="street"/>
        </mat-form-field>
        <mat-form-field>
          <input matInput [placeholder]="'PSČ' | translate" name="zipCode" formControlName="zipCode"/>
        </mat-form-field>
      </div>
      <button mat-raised-button>{{'Uložit' | translate}}</button>
      <br>
      <button type="button" mat-raised-button (click)="duplicatePerson()">{{'Vytvořit kopii' | translate}}</button>
    </form>
  </div>
</div>
