<div class="component-container-center">
  <p-table [value]="persons" selectionMode="single" [sortMode]="">
    <ng-template pTemplate="header">
      <tr>
        <th [pSortableColumn]="'personalData.firstName'">
          {{'Křestní jméno' | translate}}
          <p-sortIcon [field]="'personalData.firstName'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
        </th>
        <th [pSortableColumn]="'personalData.lastName'">
          {{'Rous' | translate}}
          <p-sortIcon [field]="'personalData.lastName'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
        </th>
        <th>
          {{'Email' | translate}}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-person>
      <tr (click)="rowSelect(person)">
        <td>
          {{person.personalData.firstName}}
        </td>
        <td>
          {{person.personalData.lastName}}
        </td>
        <td>
          {{person.email}}
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
