.menu {
  flex: 1;
  display: flex;
  font-size: 18px;
}

nav {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 8px 16px;

  a {
    color: lightgray;
    text-decoration: none;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;

    &.active {
      color: white;
    }

    &:hover {
      color: white;
    }
  }
}

.profile {
  cursor: pointer;
  outline: none;
}

.logout {
  cursor: pointer;
}

.profile-container {
  display: flex;
  div {
    margin: 5px 10px;
  }
}
