<div class="menu">
  <nav>
    <ng-container *ngFor="let menuItem of menuItems">
      <a *ngIf="menuItem.visible" [routerLink]="menuItem.routerLink" [routerLinkActive]="menuItem.routerLinkActive">{{menuItem.title}}</a>
    </ng-container>
  </nav>
  <div class="profile-container">
    <div class="pointer" matBadge="2" matBadgePosition="above after">
      <i class="fa fa-envelope"></i>
    </div>
    <div class="pointer" matBadge="2" matBadgePosition="above after">
      <i class="fa fa-bell"></i>
    </div>
    <div *ngIf="account" class="profile" [routerLink]="['/account/profile']">{{showUserName()}}</div>
    <div *ngIf="account" class="logout" (click)="logout()">odhlásit</div>
    <div *ngIf="!account" class="logout" (click)="login()">přihlásit</div>
  </div>
</div>
