<div class="menu">
  <nav>
    <a *ngIf="showAdminMenuItem" mat-raised-button [routerLink]="['admin']">Admin</a>
    <a *ngIf="person" mat-raised-button [routerLink]="['my-results']">Moje výsledky</a>
    <a *ngIf="person" mat-raised-button [routerLink]="['my-stats']">Moje statistiky</a>
  </nav>
  <div *ngIf="account" class="profile" [routerLink]="['/account/profile']">{{showUserName()}}</div>
  <div *ngIf="account" class="logout" (click)="logout()">odhlásit</div>
  <div *ngIf="!account" class="logout" (click)="login()">přihlásit</div>
</div>
