<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-activity-group-heading" jhiTranslate="jtTestingApp.activityGroup.home.createOrEditLabel">Create or edit a Activity Group</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!activityGroup.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="activityGroup.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jtTestingApp.activityGroup.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="activityGroup.name" required/>
                    <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jtTestingApp.activityGroup.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        [(ngModel)]="activityGroup.description" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jtTestingApp.activityGroup.minAge" for="field_minAge">Min Age</label>
                    <input type="number" class="form-control" name="minAge" id="field_minAge"
                        [(ngModel)]="activityGroup.minAge" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jtTestingApp.activityGroup.maxAge" for="field_maxAge">Max Age</label>
                    <input type="number" class="form-control" name="maxAge" id="field_maxAge"
                        [(ngModel)]="activityGroup.maxAge" />
                </div>

                <div class="form-group">
                    <label jhiTranslate="jtTestingApp.activityGroup.activities" for="field_activities">Activities</label>
                    <select class="form-control" id="field_activities" multiple name="activities" [(ngModel)]="activityGroup.activities">
                        <option [ngValue]="getSelected(activityGroup.activities, activityOption)" *ngFor="let activityOption of activities; trackBy: trackActivityById">{{activityOption.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label jhiTranslate="jtTestingApp.activityGroup.activityGroupCategories" for="field_activityGroupCategories">Activity Group Categories</label>
                    <select class="form-control" id="field_activityGroupCategories" multiple name="activityGroupCategories" [(ngModel)]="activityGroup.activityGroupCategories">
                        <option [ngValue]="getSelected(activityGroup.activityGroupCategories, activityGroupCategoryOption)" *ngFor="let activityGroupCategoryOption of activitygroupcategories; trackBy: trackActivityGroupCategoryById">{{activityGroupCategoryOption.name}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
