<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="activityGroup">
            <h2><span jhiTranslate="jtTestingApp.activityGroup.detail.title">Activity Group</span> {{activityGroup.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jtTestingApp.activityGroup.name">Name</span></dt>
                <dd>
                    <span>{{activityGroup.name}}</span>
                </dd>
                <dt><span jhiTranslate="jtTestingApp.activityGroup.description">Description</span></dt>
                <dd>
                    <span>{{activityGroup.description}}</span>
                </dd>
                <dt><span jhiTranslate="jtTestingApp.activityGroup.minAge">Min Age</span></dt>
                <dd>
                    <span>{{activityGroup.minAge}}</span>
                </dd>
                <dt><span jhiTranslate="jtTestingApp.activityGroup.maxAge">Max Age</span></dt>
                <dd>
                    <span>{{activityGroup.maxAge}}</span>
                </dd>
                <dt><span jhiTranslate="jtTestingApp.activityGroup.activities">Activities</span></dt>
                <dd>
                    <span *ngFor="let activities of activityGroup.activities; let last = last">
                        <a [routerLink]="['/activity', activities?.id, 'view' ]">{{activities.name}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span jhiTranslate="jtTestingApp.activityGroup.activityGroupCategories">Activity Group Categories</span></dt>
                <dd>
                    <span *ngFor="let activityGroupCategories of activityGroup.activityGroupCategories; let last = last">
                        <a [routerLink]="['/activity-group-category', activityGroupCategories?.id, 'view' ]">{{activityGroupCategories.name}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/activity-group', activityGroup.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
