<h1 id="title" class="title">{{('Profil' | translate)}}</h1>

<nb-alert *ngIf="showMessages.error && errors?.length && !submitted" outline="danger" role="alert">
  <p class="alert-title"><b>{{('Ajaj' | translate)}}</b></p>
  <ul class="alert-message-list">
    <li *ngFor="let error of errors" class="alert-message">{{ error }}</li>
  </ul>
</nb-alert>

<nb-alert *ngIf="showMessages.success && messages?.length && !submitted" outline="success" role="alert">
  <p class="alert-title"><b>{{('Hurá' | translate)}}</b></p>
  <ul class="alert-message-list">
    <li *ngFor="let message of messages" class="alert-message">{{ message }}</li>
  </ul>
</nb-alert>

<form *ngIf="personForm" [formGroup]="personForm" (ngSubmit)="savePerson()" aria-labelledby="title">
  <div formGroupName="personalData">

    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-control-group">
          <label class="label" for="firstName">{{'Křestní jméno' | translate}}</label>
          <input nbInput
                 formControlName="firstName"
                 id="firstName"
                 name="firstName"
                 [placeholder]="'Křestní jméno' | translate"
                 autofocus
                 fullWidth
                 [status]="firstName.dirty ? (firstName.invalid  ? 'danger' : 'success') : ''"
                 [attr.aria-invalid]="firstName.invalid && firstName.touched ? true : null">
          <ng-container *ngIf="firstName.invalid && firstName.touched">
            <p class="error-message" *ngIf="firstName.errors?.required">
              {{'Křestní jméno je povinné' | translate}}
            </p>
            <p class="error-message" *ngIf="firstName.errors?.minlength || firstName.errors?.maxlength">
              {{'Křestní jméno musí obsahovat alespoň 4 znaky' | translate}}
            </p>
          </ng-container>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-control-group">
          <label class="label" for="lastName">{{'Příjmení' | translate}}</label>
          <input nbInput
                 formControlName="lastName"
                 id="lastName"
                 name="lastName"
                 [placeholder]="'Příjmení' | translate"
                 autofocus
                 fullWidth
                 [status]="lastName.dirty ? (lastName.invalid  ? 'danger' : 'success') : ''"
                 [attr.aria-invalid]="lastName.invalid && lastName.touched ? true : null">
          <ng-container *ngIf="lastName.invalid && lastName.touched">
            <p class="error-message" *ngIf="lastName.errors?.required">
              {{'Příjmení je povinné' | translate}}
            </p>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-control-group">
          <label class="label" for="birthDate">{{'Datum narození' | translate}}</label>
          <input nbInput
                 id="birthDate"
                 [ngModel]="personBirthDate"
                 [placeholder]="'Datum narození' | translate"
                 [nbDatepicker]="formpicker">
          <nb-datepicker #formpicker (dateChange)="birthDayChange($event)"></nb-datepicker>

        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-control-group">
          <label class="label" for="sex">{{'Pohlaví' | translate}}</label>
          <p-selectButton id="sex" [options]="sexOptions" formControlName="sex"></p-selectButton>
        </div>
      </div>
    </div>

    <div class="form-control-group">
      <label class="label" for="nationality">{{'Národnost' | translate}}</label>
      <input nbInput
             formControlName="nationality"
             id="nationality"
             name="nationality"
             [placeholder]="'Národnost' | translate"
             autofocus
             fullWidth
             [status]="nationality.dirty ? (nationality.invalid  ? 'danger' : 'success') : ''"
             [attr.aria-invalid]="nationality.invalid && nationality.touched ? true : null">
      <ng-container *ngIf="nationality.invalid && nationality.touched">
        <p class="error-message" *ngIf="nationality.errors?.required">
          {{'Národnost je povinné' | translate}}
        </p>
      </ng-container>
    </div>
  </div>
  <div formGroupName="address">
    <div class="form-control-group">
      <label class="label" for="country">{{'Země' | translate}}</label>
      <input nbInput
             formControlName="country"
             id="country"
             name="country"
             [placeholder]="'Země' | translate"
             autofocus
             fullWidth
             [status]="country.dirty ? (country.invalid  ? 'danger' : 'success') : ''"
             [attr.aria-invalid]="country.invalid && country.touched ? true : null">
      <ng-container *ngIf="country.invalid && country.touched">
        <p class="error-message" *ngIf="country.errors?.required">
          {{'Země je povinné' | translate}}
        </p>
      </ng-container>
    </div>

    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-control-group">
          <label class="label" for="city">{{'Město' | translate}}</label>
          <input nbInput
                 formControlName="city"
                 id="city"
                 name="city"
                 [placeholder]="'Město' | translate"
                 autofocus
                 fullWidth
                 [status]="city.dirty ? (city.invalid  ? 'danger' : 'success') : ''"
                 [attr.aria-invalid]="city.invalid && city.touched ? true : null">
          <ng-container *ngIf="city.invalid && city.touched">
            <p class="error-message" *ngIf="city.errors?.required">
              {{'Město je povinné' | translate}}
            </p>
          </ng-container>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-control-group">
          <label class="label" for="zipCode">{{'PSČ' | translate}}</label>
          <input nbInput
                 formControlName="zipCode"
                 id="zipCode"
                 name="zipCode"
                 [placeholder]="'PSČ' | translate"
                 autofocus
                 fullWidth
                 [status]="zipCode.dirty ? (zipCode.invalid  ? 'danger' : 'success') : ''"
                 [attr.aria-invalid]="zipCode.invalid && zipCode.touched ? true : null">
          <ng-container *ngIf="zipCode.invalid && zipCode.touched">
            <p class="error-message" *ngIf="zipCode.errors?.required">
              {{'PSČ je povinné' | translate}}
            </p>
          </ng-container>
        </div>
      </div>
    </div>

    <div class="form-control-group">
      <label class="label" for="street">{{'Ulice' | translate}}</label>
      <input nbInput
             formControlName="street"
             id="street"
             name="street"
             [placeholder]="'Ulice' | translate"
             autofocus
             fullWidth
             [status]="street.dirty ? (street.invalid  ? 'danger' : 'success') : ''"
             [attr.aria-invalid]="street.invalid && street.touched ? true : null">
      <ng-container *ngIf="street.invalid && street.touched">
        <p class="error-message" *ngIf="street.errors?.required">
          {{'Ulice je povinné' | translate}}
        </p>
      </ng-container>
    </div>


  </div>
  <button nbButton
          fullWidth
          status="success"
          [disabled]="submitted || !personForm.valid"
          [class.btn-pulse]="submitted">
    {{'Ulož' | translate}}
  </button>
</form>
