<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="jTTest">
            <h2><span jhiTranslate="jtTestingApp.jTTest.detail.title">JT Test</span> {{jTTest.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jtTestingApp.jTTest.name">Name</span></dt>
                <dd>
                    <span>{{jTTest.name}}</span>
                </dd>
                <dt><span jhiTranslate="jtTestingApp.jTTest.description">Description</span></dt>
                <dd>
                    <span>{{jTTest.description}}</span>
                </dd>
                <dt><span jhiTranslate="jtTestingApp.jTTest.activities">Activities</span></dt>
                <dd>
                    <span *ngFor="let activities of jTTest.activities; let last = last">
                        <a [routerLink]="['/activity', activities?.id, 'view' ]">{{activities.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span jhiTranslate="jtTestingApp.jTTest.categories">Categories</span></dt>
                <dd>
                    <span *ngFor="let categories of jTTest.categories; let last = last">
                        <a [routerLink]="['/test-category', categories?.id, 'view' ]">{{categories.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span jhiTranslate="jtTestingApp.jTTest.sports">Sports</span></dt>
                <dd>
                    <span *ngFor="let sports of jTTest.sports; let last = last">
                        <a [routerLink]="['/sport', sports?.id, 'view' ]">{{sports.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/jt-test', jTTest.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
