// themes - our custom or/and out of the box themes
@import 'themes';
@import 'fontface-exo';

// framework component themes (styles tied to theme variables)
@import '~@nebular/theme/styles/globals';
@import '~@nebular/auth/styles/all';
@import '~@nebular/bootstrap/styles/globals';
// ...

// global app font size
@import './font-size';

// loading progress bar theme
@import './pace.theme';

@import './bootstrap-rtl';

@import 'primeng-overrides';
@import 'nebular-overrides';
@import 'bootstrap-override';

// install the framework and custom global styles
@include nb-install() {

  // framework global styles
  @include nb-theme-global();
  @include nb-auth-global();
  @include nb-bootstrap-global();

  // loading progress bar
  @include ngx-pace-theme();

  // fixed in rc.9 and can be removed after upgrade
  .custom-control .custom-control-indicator {
    border-radius: 50%; // TODO: quickfix for https://github.com/akveo/nebular/issues/275
  }
  @include bootstrap-rtl();
};

button {
  cursor: pointer !important;
}

app-admin {
  height: 100%;

  ngx-results {
    height: 100%;
  }
}

ngx-events-calendar {
  height: 100%;

  nb-card {
    height: 100%;
  }
}

.font-exo {
  font-family: 'Exo';
}

.pointer {
  cursor: pointer;
}

.btn-group {

  button {
    margin-left: 5px;
    margin-right: 5px;
  }

  button:first-child {
    margin-left: 0;
  }

  button:last-child {
    margin-right: 0;
  }

}

.table-row {

  cursor: pointer;

  &:hover {
    background-color: #f0f0f0 !important;
  }
}

.flex-full {
  flex: 1;
}
