<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="event">
            <h2><span jhiTranslate="jtTestingApp.event.detail.title">Event</span> {{event.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jtTestingApp.event.name">Name</span></dt>
                <dd>
                    <span>{{event.name}}</span>
                </dd>
                <dt><span jhiTranslate="jtTestingApp.event.date">Date</span></dt>
                <dd>
                    <span>{{event.date}}</span>
                </dd>
                <dt><span jhiTranslate="jtTestingApp.event.minAge">Min Age</span></dt>
                <dd>
                    <span>{{event.minAge}}</span>
                </dd>
                <dt><span jhiTranslate="jtTestingApp.event.maxAge">Max Age</span></dt>
                <dd>
                    <span>{{event.maxAge}}</span>
                </dd>
                <dt><span jhiTranslate="jtTestingApp.event.address">Address</span></dt>
                <dd>
                    <div *ngIf="event.addressId">
                        <a [routerLink]="['/address', event.addressId, 'view']">{{event.addressStreet}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="jtTestingApp.event.activityGroups">Activity Groups</span></dt>
                <dd>
                    <span *ngFor="let activityGroups of event.activityGroups; let last = last">
                        <a [routerLink]="['/activity-group', activityGroups?.id, 'view' ]">{{activityGroups.name}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span jhiTranslate="jtTestingApp.event.attachedPersons">Attached Persons</span></dt>
                <dd>
                    <span *ngFor="let attachedPersons of event.attachedPersons; let last = last">
                        <a [routerLink]="['/person', attachedPersons?.id, 'view' ]">{{attachedPersons.email}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/event', event.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
