<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="activityCategory">
            <h2><span jhiTranslate="jtTestingApp.activityCategory.detail.title">Activity Category</span> {{activityCategory.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jtTestingApp.activityCategory.name">Name</span></dt>
                <dd>
                    <span>{{activityCategory.name}}</span>
                </dd>
                <dt><span jhiTranslate="jtTestingApp.activityCategory.key">Key</span></dt>
                <dd>
                    <span>{{activityCategory.key}}</span>
                </dd>
                <dt><span jhiTranslate="jtTestingApp.activityCategory.description">Description</span></dt>
                <dd>
                    <span>{{activityCategory.description}}</span>
                </dd>
                <dt><span jhiTranslate="jtTestingApp.activityCategory.parent">Parent</span></dt>
                <dd>
                    <div *ngIf="activityCategory.parentId">
                        <a [routerLink]="['/activity-category', activityCategory.parentId, 'view']">{{activityCategory.parentName}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/activity-category', activityCategory.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
