<div class="container">
  <div class="row justify-content-center">
    <div *ngIf="form" class="col-6">
      <div class="lr-box">

        <div class="title">{{'Registrace' | translate}}</div>

        <form [formGroup]="form" (submit)="onSubmit()">


          <lr-form-field>
            <input type="text" class="lr-input" [placeholder]="'Přihlašovací jméno' | translate"
                   formControlName="login" required>
            <lr-form-field-message [inputControl]="form.get('login')"
                                   [error]="'loginOrEmail'"
                                   [type]="'error'"
                                   [message]="'Pole musí obsahovat platný email nebo přihlašovací jméno.' | translate">
            </lr-form-field-message>
            <lr-form-field-message [inputControl]="form.get('login')"
                                   [error]="'minlength'"
                                   [type]="'error'"
                                   [message]="'Pole musí mít délku alespoň 4 znaky.' | translate">
            </lr-form-field-message>
            <lr-form-field-message [inputControl]="form.get('login')"
                                   [error]="'required'"
                                   [type]="'error'"
                                   [message]="'Pole je povinné.' | translate">
            </lr-form-field-message>
          </lr-form-field>


          <lr-form-field>
            <input type="text" class="lr-input" [placeholder]="'E-mail' | translate"
                   formControlName="email" required>
            <lr-form-field-message [inputControl]="form.get('email')"
                                   [error]="'email'"
                                   [type]="'error'"
                                   [message]="'Pole musí obsahovat platný email nebo přihlašovací jméno.' | translate">
            </lr-form-field-message>
            <lr-form-field-message [inputControl]="form.get('email')"
                                   [error]="'required'"
                                   [type]="'error'"
                                   [message]="'Pole je povinné.' | translate">
            </lr-form-field-message>
          </lr-form-field>

          <lr-form-field>
            <input type="password" class="lr-input" [placeholder]="'Heslo' | translate" formControlName="password">
            <lr-form-field-message [inputControl]="form.get('password')"
                                   [error]="'minlength'"
                                   [type]="'error'"
                                   [message]="'Pole musí mít délku alespoň 4 znaky.' | translate">
            </lr-form-field-message>
            <lr-form-field-message [inputControl]="form.get('password')"
                                   [error]="'required'"
                                   [type]="'error'"
                                   [message]="'Pole je povinné.' | translate">
            </lr-form-field-message>
          </lr-form-field>
          <lr-form-field>
            <input type="password" class="lr-input" [placeholder]="'Potvrzení hesla' | translate" [(ngModel)]="confirmPassword"
                   [ngModelOptions]="{standalone: true}">
          </lr-form-field>

          <div>
            <button mat-button id="loginBtn" type="submit" class="btn-accent"
                    [innerHtml]="'Registrovat se' | translate" [disabled]="!form.valid"></button>
          </div>

        </form>
      </div>
    </div>
  </div>

