<div class="activity-edit-container">
  <form class="form" *ngIf="activityForm" [formGroup]="activityForm" (submit)="saveActivity()">

    <lr-input-field [controlName]="'name'" [parentForm]="activityForm" [label]="'Název' | translate" [errorsMap]="controlsErrorsMaps.get('name')"></lr-input-field>

    <div class="ui-inputgroup">
      <textarea type="text" pInputTextarea placeholder="Popis" formControlName="description"
                autoResize="autoResize"></textarea>
    </div>
    <div class="ui-inputgroup">
      <textarea type="text" pInputTextarea placeholder="Nápověda" formControlName="help"
                autoResize="autoResize"></textarea>
    </div>
    <lr-input-field [type]="'textarea'" [controlName]="'help'" [parentForm]="activityForm" [label]="'Nápověda' | translate" [errorsMap]="controlsErrorsMaps.get('help')"></lr-input-field>

    <lr-input-field [controlName]="'key'" [parentForm]="activityForm" [label]="'Klíč' | translate" [errorsMap]="controlsErrorsMaps.get('key')"></lr-input-field>

    <div class="ui-inputgroup">
      <p-selectButton [options]="unitsOptions" formControlName="primaryResultValueUnit"></p-selectButton>
    </div>
    <div class="ui-inputgroup">
      <p-selectButton [options]="resultTypesOptions" formControlName="primaryResultType"></p-selectButton>
    </div>
    <div class="ui-inputgroup">
      <p-selectButton [options]="unitsOptions" formControlName="secondaryResultValueUnit"></p-selectButton>
    </div>
    <div class="ui-inputgroup">
      <p-selectButton [options]="resultTypesOptions" formControlName="secondaryResultType"></p-selectButton>
    </div>

    <div class="ui-inputgroup">
      <input type="text" pInputText placeholder="Minimální věk" formControlName="minAge">
    </div>
    <div class="ui-inputgroup">
      <input type="text" pInputText placeholder="Maximální věk" formControlName="maxAge">
    </div>
    <div class="ui-inputgroup">
      <p-autoComplete
        placeholder="Napiš kategorie aktivity"
        [multiple]="true"
        [suggestions]="suggestedCategories"
        (completeMethod)="search($event)"
        [(ngModel)]="selectedCategories"
        [ngModelOptions]="{standalone: true}"
        [forceSelection]="true"
        field="name"></p-autoComplete>
    </div>
    <button mat-raised-button>{{'Uložit' | translate}}</button>
  </form>
</div>
