<div class="activity-edit-container">
  <form class="form" *ngIf="activityForm" [formGroup]="activityForm" (submit)="saveActivity()">
    <div class="ui-inputgroup">
      <input type="text" pInputText placeholder="Název" formControlName="name" required>
      <p-message severity="error" text="Název kategorie je povinný"
                 *ngIf="!activityForm.controls['name'].valid && activityForm.controls['name'].touched"></p-message>
    </div>
    <div class="ui-inputgroup">
      <textarea type="text" pInputTextarea placeholder="Popis" formControlName="description"
                autoResize="autoResize"></textarea>
    </div>
    <div class="ui-inputgroup">
      <textarea type="text" pInputTextarea placeholder="Nápověda" formControlName="help"
                autoResize="autoResize"></textarea>
    </div>
    <div class="ui-inputgroup">
      <input type="text" pInputText placeholder="Klíč" formControlName="key">
    </div>
    <div class="ui-inputgroup">
      <p-selectButton [options]="unitsOptions" formControlName="primaryResultValueUnit"></p-selectButton>
    </div>
    <div class="ui-inputgroup">
      <p-selectButton [options]="resultTypesOptions" formControlName="primaryResultType"></p-selectButton>
    </div>
    <div class="ui-inputgroup">
      <p-selectButton [options]="unitsOptions" formControlName="secondaryResultValueUnit"></p-selectButton>
    </div>
    <div class="ui-inputgroup">
      <p-selectButton [options]="resultTypesOptions" formControlName="secondaryResultType"></p-selectButton>
    </div>

    <div class="ui-inputgroup">
      <input type="text" pInputText placeholder="Minimální věk" formControlName="minAge">
    </div>
    <div class="ui-inputgroup">
      <input type="text" pInputText placeholder="Maximální věk" formControlName="maxAge">
    </div>
    <div class="ui-inputgroup">
      <p-autoComplete
        placeholder="Napiš kategorie aktivity"
        [multiple]="true"
        [suggestions]="suggestedCategories"
        (completeMethod)="search($event)"
        [(ngModel)]="selectedCategories"
        [ngModelOptions]="{standalone: true}"
        [forceSelection]="true"
        field="name"></p-autoComplete>
    </div>
    <button mat-raised-button>{{'Uložit' | translate}}</button>
  </form>
</div>
