<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="activityGroupCategory">
            <h2><span jhiTranslate="jtTestingApp.activityGroupCategory.detail.title">Activity Group Category</span> {{activityGroupCategory.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jtTestingApp.activityGroupCategory.name">Name</span></dt>
                <dd>
                    <span>{{activityGroupCategory.name}}</span>
                </dd>
                <dt><span jhiTranslate="jtTestingApp.activityGroupCategory.key">Key</span></dt>
                <dd>
                    <span>{{activityGroupCategory.key}}</span>
                </dd>
                <dt><span jhiTranslate="jtTestingApp.activityGroupCategory.description">Description</span></dt>
                <dd>
                    <span>{{activityGroupCategory.description}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/activity-group-category', activityGroupCategory.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
