<div class="container">
  <div class="row justify-content-center">
    <div *ngIf="form" class="col-6">

      <div class="lr-box">

        <div class="title">{{'Zapomenuté heslo' | translate}}</div>
        <div class="subtitle">{{'Pokud jsi zapomněl svoje heslo, napiš nám svůj registrační email a my ti na něj pošleme odkaz pro nastavení nového hesla.' | translate}}</div>

        <form [formGroup]="form" (submit)="onSubmit()">
          <lr-form-field>
            <input class="lr-input" type="text" [placeholder]="'Email' | translate"
                   formControlName="mail" required>
            <lr-form-field-message [inputControl]="form.get('mail')"
                                   [error]="'email'"
                                   [type]="'error'"
                                   [message]="'Pole musí obsahovat platný email nebo přihlašovací jméno.' | translate">
            </lr-form-field-message>
            <lr-form-field-message [inputControl]="form.get('mail')"
                                   [error]="'required'"
                                   [type]="'error'"
                                   [message]="'Pole je povinné.' | translate">
            </lr-form-field-message>
          </lr-form-field>

          <div class="d-flex justify-content-between">
            <button mat-button class="btn-accent" id="loginBtn" [disabled]="!form.valid">{{'Zaslat heslo' | translate}}</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
