.sidenav-container {
  display: flex;
  flex: 1;
}

.sidenav-menu {
  display: flex;
  flex-direction: column;
  padding: 20px;
  & > a {
    text-decoration: none;
    color: lightgray;
    font-size: 15px;
    margin: 10px;

    &.sidenav-link-active {
      color: white;
    }
  }
}
