/* Growl component */
.ui-growl {
  top: 160px;
}

/* Tooltip component*/
.ui-tooltip {
  z-index: 200001 !important;
}


/* Table component */

p-table th {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}

p-table td {
  font-family: "Open Sans", sans-serif;
}

.col-icon {
  width: 30px;
  padding: 5px;
}

.ui-table {

  table {
    table-layout: auto;
  }

  .ui-sortable-column .ui-sortable-column-icon {
    color: $primary-color;
  }

  .ui-sortable-column.ui-state-highlight {
    background-color: $primary-color-3;
    color: $accent-color;
  }

  .ui-sortable-column:not(.ui-state-highlight):hover {
    background-color: $primary-color-2;
    //color: $accent-color;
  }

  .ui-table-caption.ui-widget-header {
    border: none;
    background: none;
  }

  .ui-table-thead tr {
    border-bottom: 1px solid $primary-color-2;
  }

  .ui-table-thead > tr > th {
    border: none;
    color: $primary-color;
    background-color: transparent;
  }

  .ui-table-thead > tr > th, .ui-table-tbody > tr > td {
    border: none;
    text-align: left;
    padding: $table-head-padding;
  }

  .ui-table-tbody tr {
    border-bottom: 1px solid $primary-color-2;
  }

  .ui-table-tbody tr td {
    vertical-align: middle;
  }

  .ui-table-tbody > tr:nth-child(even) {
    background-color: $primary-color-1;
  }

  .ui-paginator {
    padding: $table-paginator-padding;
    .ui-state-default {
      border: none;
      background: transparent;
      color: $primary-color;
    }

    &.ui-widget-header {
      background: transparent;
      border: none;
    }
  }
}

.slim-table {
  .ui-table .ui-table-data > tr > td {
    border: none;
    border-width: 0;
    padding: 5px 5px;
    font-size: 14px;
  }

  .ui-table .ui-table-thead > tr > th {
    text-align: left;
    padding: 5px 5px;
  }
}

p-table.table-without-row-lines {
  .ui-table {
    .ui-widget-content {
      tr {
        border-bottom: none;
      }
    }
  }
}

.account-report-table {
  .ui-table-thead > tr > th {
    text-align: center;
    vertical-align: middle;
  }

  .ui-table-tbody > tr > td {
    &.amount-value {
      text-align: right;
    }

    &.center-value {
      text-align: center;
    }

    &.indent-row {
      padding-left: 50px;
    }
  }

  .ui-table-tbody > tr {
    &.highlight-row {
      font-weight: bold;
    }
  }

  .highlight {
    font-weight: bold;
  }

  .main-heading {
    text-align: left !important;
  }
}

// paint table extension rows
.ui-table-even + .ui-expanded-row-content {
  background-color: #e4f0fb !important;
}

.date-column {
  width: 200px;
}

.version-data-table .ui-expanded-row-content > td {
  background-color: $light-color-fill-50;
  padding: 0 !important;
}

/* FileUpload component */
.ui-fileupload-buttonbar {
  padding: 0;
}

.ui-fileupload-buttonbar > :not(:last-child) {
  display: none;
}

.ui-fileupload-buttonbar.ui-widget-header {
  border: 0px solid transparent;
}

.ui-fileupload .ui-fileupload-content {
  background-color: $primary-color-2;
  padding: 0;
  border-bottom: 0px solid transparent;
}

.ui-progressbar .ui-table .ui-widget-content {
  border-bottom: 0px solid transparent;
}

.ui-fileupload-files {
  width: 100%;
}

/* Accordion component */

.faq-accordion {

  .ui-corner-all {
    border-radius: 0px;
  }

  .pi-fw {
    width: auto;
  }

  .ui-accordion .ui-accordion-header {
    background-color: $light-color;
    color: $primary-color;
    padding: 10px 10px;
    font-weight: normal;
    border-top: 0;
    cursor: pointer;
    position: relative;
    margin-top: 1px;
    zoom: 1;

    &.ui-state-default {
      border: 0px;

      & a {
        padding: 0;
        color: $primary-color;
        text-decoration: none;
      }

      & div.heading {
        &:hover {
          color: $accent-color;
        }
      }
    }

    &.ui-state-active {
      & a {
        padding: 0;
        color: $accent-color;
        text-decoration: none;
      }

      & div.heading {
        color: $accent-color;
      }
    }

    &:not(.ui-state-active):not(.ui-state-disabled):hover {
      color: $primary-color;
      background-color: $light-color;
      & a {
        color: $primary-color;
      }
    }

    & span:first-child {
      color: $primary-color;
    }

  }

  .ui-accordion .ui-accordion-content {
    padding: 0;
    background: transparent;
    border-top: 0;

    &.ui-widget-content a {
      color: $primary-color;
    }
  }
}


.merge-items-accordion {

  accordion-tab {
    margin-bottom: 2px;
    background-color: $primary-color-1;
  }

  .acc-icon-invisible > .ui-accordion-header > .fa {
    display: none;
  }


  .ui-accordion .ui-accordion-header {
    background-color: $background-color-1;
    cursor: pointer;
    zoom: 1;
    padding: 5px 0px 5px 25px;

    &.ui-state-default {
      border: 0px;
      & a {
        padding: 0;
        margin-left: 15px;
        color: black;
        text-decoration: none;
      }

      & div.heading {
        &:hover {
          color: black;
        }
      }
    }

    &.ui-state-disabled {
      & * {
        cursor: pointer !important;
      }
      opacity: 1;
      background-color: $background-color-1;
    }

    &:not(.ui-state-active):not(.ui-state-disabled):hover {
      background: transparent;
    }

    &.ui-state-active {
      background-color: rgba(0,0,0,0.1);
      & a {
        text-decoration: none;
      }
    }
  }

  .ui-accordion .ui-accordion-content {
    padding: 0;
    background-color: $background-color-1;
    border-top: 0;
    overflow: hidden;
  }
}

/* Data List component*/

.hanbook-version-data-list {
  & .ui-widget-content {
    background-color: transparent;
  }

  & .data-list-item {
    margin: 10px;
    padding: 10px;
    background-color: $primary-color-1;

    & vis-static-info {
      margin-right: 20px;
    }
  }
}

/* Panel Menu component */
.vertical-menu {
  margin-top: $element-margin-from-header;
  background-color: $light-color-fill-50;
  .nav-link.active {
    color: $accent-color;
  }
  .nav-link:nth-child(n+2) {
    border-top: 1px solid $primary-color-2;
  }
}

.ui-panelmenu .ui-panelmenu-header.ui-state-active, .ui-panelmenu .ui-panelmenu-header.ui-state-active a {
  background: transparent;
  border: 0;
}

.ui-panelmenu {

  .menu-item-badge {
    margin-top: 4px;
    padding: 3px 3px 3px 3px;
    border-radius: 5px;
    background-color: $app-danger-color;
    color: white;
    font-size: 10px;
    display: inline;
    float: right;
  }


  .ui-panelmenu-content {

    & .drag-over {
      & * {
        color: $accent-color !important;
        cursor: move;
      }
    }

    &.ui-widget-content {
      background-color: transparent;
    }

    .ui-menuitem {
      &:nth-child(n+1) {
        //border-bottom: 1px solid $primary-color-2;
      }

      font-size: 14px;
    }

    .ui-menuitem-link {
      color: $primary-color;

      &:hover {
        color: $primary-color-4;
      }

      &.ui-state-active {
        border: 0;
        background: transparent;
        color: $accent-color-4;

        &:hover {
          color: $accent-color-3;
        }
      }

      &:not(.ui-state-active) {
        background: transparent;
        border: 0;
        color: $primary-color;

        &:hover {
          color: $primary-color-4;
        }
      }
    }
  }

  .ui-panelmenu-panel {
    padding: .5rem 1rem;

    .ui-panelmenu-icon {
      display: none;
    }
  }

  .ui-panelmenu-header {
    padding: $header-nav-padding;
    font-size: 16px;
    margin: 0;
    & a {
      padding: 0;
    }

    &.ui-state-active {
      border: 0;
      background: transparent;
      color: $accent-color-4;
      & a {
        color: $accent-color-4;

        &.ui-state-active {
          color: $accent-color-4;

          &:hover {
            background: transparent;
            color: $accent-color-3;
          }
        }

        &:not(.ui-state-active) {
          color: $accent-color-3;

          &:hover {
            background: transparent;
            color: $primary-color-4;
          }
        }
      }

      &:hover {
        background: transparent;
      }
    }

    &:not(.ui-state-active) {
      border: 0;
      background: transparent;
      color: $primary-color;
      & a {
        color: $primary-color;

        &.ui-state-active {
          color: $accent-color-4;

          &:hover {
            background: transparent;
            color: $accent-color-3;
          }
        }

        &:not(.ui-state-active) {
          color: $primary-color;

          &:hover {
            background: transparent;
            color: $primary-color-4;
          }
        }
      }

      &:hover {
        background: transparent;
      }
    }
  }

  .ui-panelmenu-panel:nth-child(n+2) {
    border-top: 1px solid $primary-color-2;
  }

  .ui-state-default {
    border: 0;
    background: transparent;
    color: $primary-color;
    //& a {
    //  color: $primary-color;
    //  &:hover {
    //    color: $accent-color;
    //    text-decoration: underline;
    //  }
    //
    //}
  }

  .ui-state-active {
    border: 0;
    background: transparent;
    color: $accent-color;
  }

}


/* Activities panel overlay */

.activities-panel-overlay {
  margin-top: 10px;
  border: 0px;
  border-radius: 0;
  background-color: $primary-color-0;

  & .ui-overlaypanel-content {
    padding: 0px;
  }
}
