@import "app-colors";

body .ui-widget {
  font-size: 16px;
}

/* TABLE */
body table {
  table-layout: auto !important;
}

body .ui-table .ui-table-thead > tr > th {
  padding: 0.571em 0.857em;
  border: 1px solid white;
  font-weight: 700;
  color: white;
  background-color: transparent;
}


body .ui-table .ui-table-tbody > tr {
  background-color: rgba(255, 255, 255, 0.08);
  color: white;

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

body .ui-table .ui-table-tbody > tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.04);

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.table-action-column {
  width: 60px;
  max-width: 60px;
}

